@import"/sass/variables";

/* Estilos generales */
*{
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color:$letras;
    margin: 0 auto;
    text-transform: uppercase;
    font-family: $fuente;
}
body{
    background-color:$fondos;        
}
/*Navbar y logo*/
#logo{
    display:contents;
}
#logo-imagen{
    width: 40%;
    @media (min-width: 576px) {
        width: 20%;
        margin-left: 10vh;
    }
}

/*Banner principal*/
.bloqueInicial{
    text-align:-webkit-center;
    #div-logo{
        #logo-banner{
            width: 50%;
        }
    }
}
.banner{
    background-image: url("../img/chilinga1.jpg");
    background-position-y: 65%;
    height: 50%;
}

/*Publicidad*/
.publicidad{
    background-image: url("../img/senderos.jpg");
    width: 100%;
    @media (min-width: 576px) {
    margin-top: 1rem;
    height: 100px;
    background-repeat: no-repeat;
    background-position-y: 45%;
    }
    a{
        color: black;
        text-decoration: none;
                
    }
}

/*Discografía*/
.bloqueTres{
    border-color: black;
    text-align: center;
    align-items: center;
    padding-top: 2rem;
    a{
        color: $letras;
    }
    h4{
        font-size: 40px;
    }
    .img-container {
        text-align: center;
    }
    
    .imgbox {
        display: inline-block;
        padding: 10px;
        vertical-align: middle;
        p{
            margin-top:1rem;
        }
        img {
            width: 200px;
            height: auto;
        }
    }    
    img {
        display: block;
        max-width: 100%;
        &:hover { 
            cursor: pointer;
            opacity: 0.7;
        }
    }
}

/*Videos*/
.bloqueCuatro{
    display:flex;
    h4{
        font-size:40px;
        text-align:center;
        margin-top:4rem;
    }
    #frameCuatro{
        display: -webkit-inline-box;        
    }
}

/*Redes Sociales | Footer */
footer{
    position: absolute;
    margin-top: 1rem;
    p{
        font-size:13px; 
    }
    #redesSociales{
        display:table;
        margin-top:3rem;
        h5{
            font-size:30px;
            text-align:center;
        }
    }

    #redesSocialesIconos{
        display: flex;
        div{
            img{
                width:30px;
            }
        }
    }

}

/*Historia*/
#chilinga-historia{
    width: 100%;
}
article{
    width: 100%;
}

/*Sedes*/
.sedes{
    display: inline-grid;
    width: 100%;
}