

/* Estilos generales */
*{
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color:white;
    margin: 0 auto;
    text-transform: uppercase;
    font-family: 'Fira Sans', sans-serif;
}
body{
    background-color:#1d1c1cef;    
    /*background: linear-gradient(#4BC0E5,#D86A15, #0F8A2E);*/
    background-repeat: no-repeat;
    background-attachment: fixed;        
}


/* Header | Logo | Navegación */
header{
    padding:5rem;
    z-index: 10;
    height: 100px;
}
#logo{
    float:left; 
    width:80%;

}
#logo-imagen{
    width: 15%;
    margin: -3rem;
}

ul{
    display: flex;
    justify-content: flex-end;
}
li{
    list-style-type: none;
    margin: 2rem 1rem 0px 2rem;
}
a{
    color:rgb(255, 255, 255);
    text-decoration:none;
    margin: 0 20px;
    padding: 0 4px;
    font-size: 18px;
    font-weight: 500;
}

/* Contenido de la página */
.contenido h1{
    font-size: 34px;
    margin:2rem;    
    
}
.cartel{
    text-align-last: center;
    margin-top: 20vh;
    box-sizing: content-box;
    width: 400px;
    height:200px;
    border: solid #ffffff77 5px;
    padding: 5px;
    margin-left: 40%;
    background: rgb(218, 124, 16);
    box-shadow: 30px 10px rgba(17, 18, 18, 0.09);
    border-radius: 32px;
}
.cartel h3{
    font-size: 30px;
    margin-top: 5%;
    justify-content: space-around;
    text-transform: uppercase;

}
#construccion{
    margin-top:5%;
    height:100px;
    filter: invert(100%);
}


/* Footer */
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: #fff;
    display:contents;
}
#footer{
    text-align-last: center;
    padding-bottom: 2rem;
    font-weight: 400;
    font-size: 15px;
}


.banner{
    background-image: url("../img/chilinga1.jpg");
    background-position-y: 28%;
    height: 50%;
}

.publicidad{
    background-image: url("../img/senderos.jpg");
    margin-top: 2rem;
    width: 1083px;
    height: 148px;
    background-position: center;
    background-repeat: no-repeat;
}
.publicidad a{

    text-align: center;
    display: block;
    color: black;
    padding-top: 8rem;
    margin-right: 30rem;
        
}

.bloqueInicial{
    text-align: center;
    align-items: center;
    padding-top: 2rem;
}

#div-logo{
    display:flex;
    height:200px;
}

#logo-banner{
    height: 16rem;margin-top: -3rem;
}

.bloqueTres{
    border-color: black;
    text-align: center;
    align-items: center;
    padding-top: 5rem;
}

.bloqueTres h4{
    font-size: 40px;
}

.img-container {
    text-align: center;
}

.imgbox {
    display: inline-block;
    padding: 10px;
    vertical-align: middle;
}
.imgbox p{
    margin-top:1rem;
}


.imgbox img {
    width: 200px;
    height: 200px;
}

img {
    display: block;
    max-width: 100%;
}

.imgbox img:hover { 
cursor: pointer;
opacity: 0.7;
}

.bloqueCuatro{
    margin-top:5rem;
    display:contents;
}

.bloqueCuatro h4{
    font-size:40px;
    text-align:center;
    margin-top:4rem;
}
#frameCuatro{
    display: -webkit-inline-box;
    margin-left: 40vh;
}

#redesSociales{
    display:table;
    margin-top:3rem;
}

#redesSociales h5{
    font-size:30px;
    text-align:center;
}

#redesSocialesIconos{
    display: inline-flex;
    margin: 1rem;
}

#redesSocialesIconos div{
    margin:1rem;
}
#redesSocialesIconos div img{
    width:30px;
}


/* medias query*/
/*Página inicio*/
@media (max-width:425px){
    .contenido{
        display: grid;
    }

    #logo-imagen{
        width: 100%;
        margin: 1rem;
        margin-top: -6rem;
    }

    nav{
        text-align-last: center;
        margin-left: -3rem;
    }
    ul{
        display:contents;
    }

    #logo-banner{
        display:none;
    }
    .publicidad{
            margin-top: 0;
            margin-left: -19rem;
            height: 100%;
            background-position: center;
            width: 126%;
    }

    .img-container{
        margin-left: -18rem;
    }
    .img-container h4{
        display:flex;
        margin-left:-10rem;
    }
    .imgbox{
        display:revert;
        padding:0;
        margin-left: -24rem;
    }

    #linkDiscografia{
        font-size: 10px;
        margin-left: -15rem;
    }

    .bloqueCuatro h4{
        margin-left: -17.5rem;
    }
    
    iframe{
        margin-left: -38rem;
        height: 300px;
        width: 300px;
    }

    #textoFrame{
        display:none;
    }

    #footer{
        font-size: 14px;
        text-align: center;
    }
}


/*Historia*/
.about{
    display: -webkit-inline-box;
    
}
article{
    width: 50%;
    display: inline-grid;
}
@media (max-width: 425px) {
    .about{
    margin-top: 24vh;
    display: table;
    }

    article{
        text-align: center;
        margin-top: 1rem;
    }
    .articulo{
        display: grid;
    }

}

